---
layout: default
title: Blog
description: Posts on digital marketing, tools, and projects.
image: /assets/images/pages/blog.jpg
permalink: /blog/
twin: /blogi/
lang: en
---

{% assign strings = site.data[site.active_lang].strings %}

{% include organisms/page-header.html title=strings.blog_title description=strings.blog_description %}

<section class="blog-list">
  <div class="container">
    {% assign lang_posts = site.posts | where: "lang", site.active_lang %}
    {% if lang_posts.size > 0 %}
      {% for post in lang_posts %}
        {% include organisms/post-card.html post=post %}
      {% endfor %}
    {% else %}
      <div class="card">
        <h3>{{ strings.blog_empty_title }}</h3>
        <p>{{ strings.blog_empty_text }}</p>
      </div>
    {% endif %}
  </div>
</section>
