/* =============================================================================
   MOLECULE: Category List
============================================================================= */

.post-categories {
  display: flex;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
}
