/* =============================================================================
   MOLECULE: Tag List
============================================================================= */

.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-xl);
}
