/* =============================================================================
   MOLECULE: Tech Stack
============================================================================= */

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
}
