---
layout: default
---
<article class="post">
  <header class="post-header">
    <div class="container">
      {% include organisms/breadcrumbs.html %}

      {% include molecules/category-list.html categories=page.categories %}

      <h1 class="post-title">{{ page.title }}</h1>

      {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
      {% endif %}

      {% include molecules/post-meta.html date=page.date read_time=page.read_time %}
    </div>
  </header>

  {% if page.image %}
  <div class="post-image">
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
  </div>
  {% endif %}

  <div class="post-content container">
    {{ content }}
  </div>

  <footer class="post-footer container">
    {% include molecules/tag-list.html tags=page.tags %}

    {% include organisms/post-author.html author=page.author %}

    {% include organisms/post-navigation.html previous=page.previous next=page.next %}
  </footer>
</article>
